<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="(isHandset$ | async) ? 2 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Produtos Vendidos</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-product-sales></app-product-sales>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(isHandset$ | async) ? 2 : 1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Registro de Sessões</mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-store-sessions></app-store-sessions>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
